<div class="container">
  <nav>
    <input type="text" [(ngModel)]="categoryName">
    <button (click)="createCategory(categoryName)">新建分类</button>
  </nav>
  <table class="article-list">
    <thead>
    <tr>
      <th>名称</th>
      <th>描述</th>
      <th>更新时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of categories">
      <td>{{category.name}}</td>
      <td>{{category.description}}</td>
      <td>{{category.updatedAt|date: 'yyyy-MM-dd HH:mm:ss'}}</td>
      <td>删除</td>
    </tr>
    </tbody>
  </table>
</div>
