<div class="container" *ngIf="currentArticle">
  <nav>
    <button (click)="back()">back</button>
    <button (click)="savePage()">save</button>
    <strong *ngIf="!titleEditable">{{currentArticle.title|| 'ss'}}
      <i class="fa fa-pencil-square-o cursor-pointer" (click)="showUpdateTitle()"></i></strong>

    <input *ngIf="titleEditable" type="text" [(ngModel)]="currentArticle.title" (keyup.enter)="savePage()">
  </nav>

  <textarea class="left-editor" [(ngModel)]="currentArticle.content"></textarea>
  <app-rendered-content id="right-display" [content]="currentArticle.content"></app-rendered-content>
</div>
