/**
 * User: sofia
 * Date: 2018/1/11
 * Description:
 */
:host {
  display: block;
  span {
    border: 1px solid #eee;
    padding: 5px 10px;
    border-radius: 4px;
    &.active {
      color: #fff;
      background: #CFD8DC;
    }
  }
}
