<div class="container-hero-detail" *ngIf="hero">
  <h2 [ngClass]="currentHeroClass">{{hero.name}}</h2>
  <div class="hero-panel">
    <input type="radio" name="infoType" [value]='1' [(ngModel)]="hero.infoType">basic Information
    <input type="radio" name="infoType" [value]='2' [(ngModel)]="hero.infoType">private Information
    <div [ngSwitch]="hero.infoType">
      <div *ngSwitchCase="1">
        <div class="info-item">
          <label>姓名</label>
          <div class="content">
            <input type="text" [(ngModel)]="hero.name" (keyup.enter)="changeInfo()">
          </div>
        </div>
        <div class="info-item">
          <label>联系方式</label>
          <div class="content">
            <input type="text" [(ngModel)]="hero.phone">
          </div>
        </div>
      </div>
      <div *ngSwitchCase="2">
        <div class="info-item">
          <label>爱好</label>
          <div class="content">
            <input type="text" [(ngModel)]="hero.hobby">
          </div>
        </div>
      </div>
    </div>

  </div>
  <button class="btn-save" (click)="saveHero()">save</button>
  <button class="btn-back" (click)="back()">Back</button>
</div>
