/**
 * User: sofia
 * Date: 2018/1/16
 * Description:
 */

$color-state-init: #000000;
$color-state-modified: #ffb822;

@mixin hero-state($state-color) {
  color: $state-color;
}

%margin-container {
  margin: 10px 5%;
  position: relative;
  border: 1px dashed #ddd;
}

%plain-btn {
  background-color: #eee;
  border: 1px solid #eee;
  cursor: pointer;
  &:hover {
    background-color: #cfd8dc;
  }
}

%back-btn {
  @extend %plain-btn;
  background: #fff;
  border: 1px solid #cfd8dc;
  &:hover {
    background-color: #f9f9fa;
  }
}
