<div class="container">
  <ul class="list-unstyled">
    <li class="cursor-pointer plain-link" routerLink="dashboard" routerLinkActive="active">Latest Articles</li>
    <li class="cursor-pointer plain-link" routerLink="lists" routerLinkActive="active">Articles list</li>
    <li class="cursor-pointer plain-link" routerLink="categories" routerLinkActive="active">Categories list</li>
    <!--<li class="cursor-pointer plain-link" routerLink="dashboard" routerLinkActive="active">Editor</li>-->
  </ul>
</div>
