/**
 * User: sofia
 * Date: 2018/1/11
 * Description:
 */
ul.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plain-link {
  outline: none;
  cursor: pointer;
}

input, button, textarea {
  outline: none;
}

.cursor-pointer {
  cursor: pointer;
}

input {
  height: 1.5em;
  border-radius: 4px;
  font-size: 1em;
  padding-left: .4em;
  box-shadow: none;
  border: 1px solid #ddd;
}

button {
  padding: 5px 10px;
  border-radius: 4px;
  display: inline-block;
  font-size: 14px;
}
